{% extends 'base.html' %}

{% block content %}

    <h1 style="text-align: center; margin-top: 50px">API</h1>
 <table style="width: 80%; margin: 0 auto; border-collapse: collapse">
  <tr style="padding: 10px; border: 1px solid #000">
   <th>ID</th>
   <th>Наименование</th>
   <th>Состав</th>
   <th>Цена</th>
   <th>Действия</th>
  </tr>
  <tr style="padding: 10px; border: 1px solid #000">
   <td>1</td>
   <td>Роллы Калифорния</td>
   <td>рис, лосось, огурец, нори</td>
   <td>499 рублей</td>
   <td style="padding: 10px; border: 1px solid #000">
    <a href="#" style="text-decoration: none; font-family: Arial, sans-serif; color: black; padding: 5px 10px; margin-right: 10px; border: 1px solid black; border-radius: 5px; background-color: rgba(95,160,110,0.62)">Посмотреть</a>
    <a href="#" style="text-decoration: none; font-family: Arial, sans-serif; color: black; padding: 5px 10px; margin-right: 10px; border: 1px solid black; border-radius: 5px; background-color: rgba(65,172,196,0.49)">Изменить</a>
    <a href="#" style="text-decoration: none; font-family: Arial, sans-serif; color: black; padding: 5px 10px; margin-right: 10px; border: 1px solid black; border-radius: 5px; background-color: rgba(196,65,65,0.49)">Удалить</a>
   </td>
  </tr>
 </table>
 <form style="width: 80%; margin: 20px auto; display: flex; flex-wrap: wrap; align-items: center">
  <input type="text" placeholder="Наименование" style="width: 200px; padding: 10px; margin-right: 20px; border-radius: 5px; border: 1px solid #000">
  <input type="text" placeholder="Состав" style="width: 200px; padding: 10px; margin-right: 20px; border-radius: 5px; border: 1px solid #000">
  <input type="number" placeholder="Цена" style="width: 200px; padding: 10px; margin-right: 20px; border-radius: 5px; border: 1px solid #000">
  <input type="submit" value="Добавить" style="padding: 10px 20px; background-color: #4d4d4d; color: #fff; border-radius: 5px; border: none; cursor: pointer">
 </form>


{% endblock %}