{% extends 'base2.html' %}

{% block content %}

<h1 style="font-size: 60px; text-align: center; margin-top: 50px; color: #333">Добро Пожаловать в Sushki!</h1><br>

    <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Закажите доставку или оформляйте самовывоз</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="cursor: pointer; background-image: url('https://img.freepik.com/premium-photo/traditional-sushi-black-and-white-with-crab-cheese-and-herbs-japanese-cuisine-top-view_187166-61914.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=sph');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Суши, роллы</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/premium-photo/sushi-roll-isolated-on-white-background-3d-render-illustration_890887-11178.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=ais" alt="сушки" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>Sushki</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="cursor: pointer; background-image: url('https://img.freepik.com/premium-photo/delicious-salami-pizza-on-wooden-table-with-decorations_879656-233.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=sph');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Пицца, горячие блюда</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/premium-photo/sushi-roll-isolated-on-white-background-3d-render-illustration_890887-11178.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=ais" alt="сушки" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>Sushki</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="cursor: pointer; background-image: url('https://img.freepik.com/premium-photo/beer-set-of-savory-snacks-with-sauces-pickles-and-lemon_157927-2984.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=sph');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Закуски и напитки</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://img.freepik.com/premium-photo/sushi-roll-isolated-on-white-background-3d-render-illustration_890887-11178.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=ais" alt="сушки" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>Sushki</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}