{% extends 'base.html' %}

{% block content %}

 <h1 style="margin-bottom: 40px">Личный кабинет</h1>
 <div class="container" style="margin-bottom: 50px">
  <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg?size=626&ext=jpg&ga=GA1.1.691170222.1696698763&semt=sph" alt="Аватар" class="avatar">
  <h2 style="margin-bottom: 30px">Иван Иванов</h2>
  <div class="info">
   <label>Номер телефона:</label>
   <p>+7 (123) 456-78-90</p>
   <label>Дата рождения:</label>
   <p>01.01.2000</p>
   <label>Город:</label>
   <p>Москва</p>
   <label>E-mail:</label>
   <p>ivanych@mail.com</p>
  </div>
  <button>Редактировать профиль</button>
 </div>

{% endblock %}