<hr>
<div class="row" style="margin: 10px; padding: 15px 70px">

      <div class="col-6 col-md-2 mb-3">
        <h5 style="margin-bottom: 20px">О нас</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Контакты</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Адреса</a></li>
          <li class="nav-item mb-2"><a href="#feedback" class="nav-link p-0 text-body-secondary">Техническая поддержка</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Предложения</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Подпишитесь на рассылку</h5>
          <p>Получайте рассылки о новинках и акциях</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="email">
            <button class="btn btn-primary" type="button">Подписаться</button>
          </div>
        </form>
      </div>
</div>
