<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'indexPage' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Sushki</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'basketPage' %}" class="nav-link active" aria-current="page">Корзина</a></li>
        <li class="nav-item"><a href="{% url 'useraccountPage' %}" class="nav-link">Аккаунт</a></li>
        <li class="nav-item"><a href="{% url 'catalogPage' %}" class="nav-link">Каталог</a></li>
          <li class="nav-item"><a href="{% url 'apiPage' %}" class="nav-link">API</a></li>
      </ul>
</header>